@tailwind base;
@tailwind components;
@tailwind utilities;

/*page loading*/
.preloader {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  transition: 0.6s;
  margin: 0 auto;
}

.preloader .logo {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.preloader .logo img {
  width: 50px;
}

/*Animation*/
@-webkit-keyframes jump {
  0% {
    transform: translate3d(0, 15px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes jump {
  0% {
    transform: translate3d(0, 15px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.jump {
  transform-origin: 0;
  -webkit-animation: jump 1s linear alternate infinite;
  animation: jump 1s linear alternate infinite;
}

#scrollUp {
  width: 40px;
  height: 40px;
  line-height: 50px;
  cursor: pointer;
  color: #fff;
  right: 30px;
  bottom: 30px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  z-index: 999 !important;
  background-color: #086ad8;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.03);
  display: flex;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.btn-primary {
  display: inline-block;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgba(96, 165, 250, var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.btn-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
}

.font-body {
  font-family: "Montserrat", sans-serif !important;
}
.font-heading {
  font-family: "Poppins", sans-serif !important;
}

@media (min-width: 1024px) {
  .lg\:text-5xl {
    font-size: 3rem !important;
    line-height: 4rem !important;
  }
}

.text-4xl {
  font-size: 2.25rem !important;
  line-height: 3.2rem !important;
}

@media (min-width: 1024px) {
  .lg\:text-4xl {
    font-size: 2.25rem !important;
    line-height: 3.2rem !important;
  }
}
